* {
  border-radius: 7px;
  transition: all 0.6s;
}

body {
  margin: 0;
  background-color: #072227;
  font-family: "Cormorant Garamond", serif;
  color: #072227;
}
#main {
  width: 98%;
  margin: 40px auto 20px auto;
  background-color: #35858b;
}
.header {
  text-align: center;
  padding: 20px;
}
#title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  font-family: "Oswald", sans-serif;
}
#title:hover {
  color: #aefeff;
}
.sub-tit {
  font-size: 30px;
}
.sub-tit:hover {
  color: #aefeff;
}
#img-div {
  background-color: #072227;
  width: 65%;
  margin: 10px auto;
  text-align: center;
  padding-top: 40px;
  color: #aefeff;
}

#image {
  margin: 0 auto;
  display: block;
  max-width: 100%;
  height: auto;
  width: 90%;
}
#img-caption {
  font-size: 16px;
}
#img-caption:hover {
  color: #072227;
  background-color: #aefeff;
}
#img-div h2 {
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
}
.body {
  width: 45%;
  margin: 10px auto;
  font-size: 1.6rem;
  color: #051012;
  font-family: "Trispace", sans-serif;
  font-weight: 300;
}
.body-tit {
  text-align: center;
}
.body-tit:hover {
  color: #aefeff;
}
li {
  display: block;
  white-space: 30px;
}
li:hover {
  color: #aefeff;
}

hr {
  border: 0;
  height: 3px;
  background: #072227;
  width: 100%;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-size: 20px;
  margin: 0 auto;
  padding: 0;
}
@media (max-width: 850px) {
  #title {
    font-size: 30px;
  }
  .sub-tit {
    font-size: 25px;
  }

  .body-tit {
    font-size: 19px;
  }
  ul {
    font-size: 18px;
  }
}
.contact {
  width: 100%;
  margin: 0 auto;
  padding-bottom: 30px;
  background-color: #072227;
  border-radius: 0;
}
.im {
  width: 10%;
  margin-left: 45%;
}
